.a-List:link {
	FONT-SIZE: 12px; WORD-SPACING: 0px; COLOR: #3366cc; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-List:visited {
	FONT-SIZE: 12px; WORD-SPACING: 0px; COLOR: #3366cc; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-List:hover {
	FONT-SIZE: 12px; WORD-SPACING: 0px; COLOR: #ff9900; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-List IMG {
	POSITION: absolute
}
.a-List2:link {
	FONT-SIZE: 12px; COLOR: #3366cc; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-List2:visited {
	FONT-SIZE: 12px; COLOR: #3366cc; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-List2:hover {
	FONT-SIZE: 12px; COLOR: #ff9900; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-List3:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #07519a; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-List3:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #07519a; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-List3:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff9900; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-Title:link {
	FONT-SIZE: 12px; COLOR: #07519a; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-Title:visited {
	FONT-SIZE: 12px; COLOR: #07519a; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-Title:hover {
	FONT-SIZE: 12px; COLOR: #ff9900; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-Link:link {
	PADDING-RIGHT: 12px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #3366cc; LINE-HEIGHT: 24px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-Link:visited {
	PADDING-RIGHT: 12px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #3366cc; LINE-HEIGHT: 24px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-Link:hover {
	PADDING-RIGHT: 12px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #ff9900; LINE-HEIGHT: 24px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-TitleLink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #07519a; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-TitleLink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #07519a; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-TitleLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff9900; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-List31:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #07519a; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-List31:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #07519a; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a-List31:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff9900; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Lucida, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
