IMG.logo {
	FLOAT: right; MARGIN: 10px 10px 0px 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#main H1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
DL {
	MARGIN-TOP: 0px
}
DT {
	FONT-WEIGHT: bold; COLOR: #a00
}
#api DT {
	FONT-SIZE: 120%; MARGIN: 5px 0px
}
#debugging DT {
	FONT-SIZE: 120%; MARGIN: 5px 0px
}
DD {
	MARGIN: 0px 0px 20px; COLOR: #555
}
DL.options {
	MARGIN: 10px 25px
}
CODE.inline {
	BACKGROUND-COLOR: #ffc
}
.footer {
	BORDER-TOP: #ddd 1px solid; MARGIN-TOP: 30px; COLOR: #666; PADDING-TOP: 20px
}
#header {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: small; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px; BACKGROUND-COLOR: #eee
}
H1 {
	FONT-FAMILY: 'trebuchet ms', verdana, arial
}
H2 .anchors A {
	FONT-FAMILY: 'trebuchet ms', verdana, arial
}
.sampleAnchors A {
	FONT-FAMILY: 'trebuchet ms', verdana, arial
}
.anchors {
	BORDER-BOTTOM: #ccc 1px solid; ZOOM: 1; BACKGROUND-COLOR: #eee
}
.anchors {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.sampleAnchors {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}

.anchors LI {
	FLOAT: left; MARGIN: 0px 1px 0px 0px
}
.anchors A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 9px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 9px; Z-INDEX: 2; PADDING-BOTTOM: 1px; BORDER-LEFT: #ccc 1px solid; COLOR: #444; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 0px solid; POSITION: relative; TOP: 1px; TEXT-DECORATION: none
}
.sampleAnchors A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 9px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 9px; Z-INDEX: 2; PADDING-BOTTOM: 1px; BORDER-LEFT: #ccc 1px solid; COLOR: #444; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 0px solid; POSITION: relative; TOP: 1px; TEXT-DECORATION: none
}
.anchors .on A {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 2px
}
.anchors A:focus {
	outline: none
}
.anchors A:active {
	outline: none
}
.sampleAnchors A:focus {
	outline: none
}
.sampleAnchors A:active {
	outline: none
}
.anchors .on A {
	BACKGROUND: #fff
}
.anchors A:hover {
	BACKGROUND: #fff
}
.anchors A:focus {
	BACKGROUND: #fff
}
.anchors A:active {
	BACKGROUND: #fff
}
.anchors .on A:link {
	CURSOR: text
}
.anchors .on A:visited {
	CURSOR: text
}
.anchors A:hover {
	CURSOR: pointer
}
.anchors A:focus {
	CURSOR: pointer
}
.anchors A:active {
	CURSOR: pointer
}
.on {
	DISPLAY: block
}
.anchors A H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px; PADDING-TOP: 0px
}
.tabs-selected A {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: -1px; OVERFLOW: visible; COLOR: #000; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #fff
}
.tabContent {
	CLEAR: left; PADDING-RIGHT: 25px; PADDING-LEFT: 25px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 30px; PADDING-TOP: 10px; ZOOM: 1; BACKGROUND-COLOR: #fff
}
.sampleTabContent {
	CLEAR: left; BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 25px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 25px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 50px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #ddd 1px solid; ZOOM: 1; BACKGROUND-COLOR: #fff
}
.tabs-hide {
	DISPLAY: none; BACKGROUND-COLOR: #fff
}
.sampleAnchors A {
	DISPLAY: block
}
.sampleAnchors LI {
	FLOAT: left; MARGIN: 0px 1px 0px 0px
}
.sample-tab-selected A {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: -1px; OVERFLOW: visible; COLOR: #000; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #fff
}
